
/* White color Template */

body {
  color: #6B6B6B ;

}


a {
  color:#337ab7;
}

a:hover,
a:focus {
  color: #00b9eb ;
}
.nav-links a:hover {
    color: #00b9eb ;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000000 ;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666 ;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111 ;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #8c8c8c ;
  color: #21759b ;
}

.entry-meta a {
  color: #000 ;
}

.entry-meta a:hover {
 color: #00b9eb;
}
.entry-meta .fa {
	color: #000000  ;
}

.entry-title {
  color: #444 ;
}

.entry-title a {
  color: #444 ;
}
.entry-title a:hover {
  color: #00b9eb ;
}

hr.section-divider {
  border-color: #E8E8E8 ;
}

.post-inner-content {
  background-color: #fff ;
}

.page-links span {
  color: #000 ;
  background-color: #bdbdbd ;
}


 .page-links a span {
    border: 1px solid #c7c7c7 ;
    background-color: #fff ;
    color: #000 ;
}

.page-links a:hover span {
  background-color: #c7c7c7 ;
  border: 1px solid #c7c7c7 ;
  color: #000000 ;
}

.pagination li a {
  /* color: #FF9800 ; */
}


.pagination li:hover a {
  /* color: #FF9800 ; */
}


.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  color: #00b9eb ;
  background-color: #FFB74D ;
  /* border-color: #FF9800 ; */
}


.pagination>li>a,
.pagination>li>span {
  border-color: #bdbdbd ;
}

#secondary .widget {
  color: #6B6B6B  ;
}

.well {
  background-color: #fff ;
}

#secondary .widget > h3 {
  color: #000 ;
}

#secondary .widget .social-icons a:hover{
	color: #ffffff ;
}

#secondary .widget a {
  color: #6B6B6B ;
}

#secondary .widget a:hover {
  color: #00b9eb;
}

.popular-posts-wrapper .post .post-image {
  background-color: #bdbdbd ;
}

#secondary .widget .post-content a {
  color: #000000  ;
}


#secondary .widget .post-content a:hover {
  color: #00b9eb  ;
}



a.more-link {
  background-color: #fd3c3d ;
  border-color: #fd3c3d ;
}

a.more-link:hover {
  background-color:#8d8d8d ;
  border-color:#8d8d8d ;
  color: #000 ;
}
.btn.btn-default:hover{
	background-color:#c7c7c7 ;
}


.btn.btn-default, .woocommerce #respond input#submit, .woocommerce a.button,
.woocommerce button.button, .woocommerce input.button,
a.more-link {
     color: #000000 ;
    background-color: #fff ;
    border-color: #bdbdbd ;
}

button, .button {
  background-color: transparent ;
  color: #000 ;
}


button:hover, .button:hover {
  background-color:transparent ;

}

#infinite-handle span {
  border: 1px solid #bcbcbc;
  background: #bcbcbc ;

}

#infinite-handle span:hover {
  background-color: #8c8c8c ;
  color: #00b9eb ;
}

.site-description {
  color: #777 ;
}

.post-navigation a,
.page-numbers,
.pagination .prev,
.pagination .next {
  border: 1px solid #c7c7c7;
  background-color: #fff;
  color:#000;

}
.page-numbers:hover{
	background-color:#c7c7c7;
	color:#000 !important;
}

.post-navigation a:hover,
.pagination .prev:hover
.pagination .next:hover {
    color: #000000 ;
    background-color: #c7c7c7;
}

.navbar.navbar-default {
  background-color:#fff;
}
i.social_icon.fa:hover {
    color: #ffffff ;
}
.navbar-default .navbar-nav > li > a {
  color: #636467 ;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #00b9eb !important ;
}

.navbar > .container .navbar-brand {
  color: #000;
}
.navbar > .container .navbar-brand:hover{
	color: #00b9eb ;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > .caret,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #00b9eb ;
}


.navbar-default .navbar-nav .dropdown-menu > li:hover,
.navbar-default .navbar-nav .dropdown-menu > li:focus {
  color: #00b9eb ;
  background-color: #fff;
}


.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>li:hover>a,
.dropdown-menu>li:hover>.caret {
  color: #00b9eb !important ;
}
.dropdown-menu{
	background-color:#ffffff ;
}

.dropdown-menu>li>.caret {
  color: #636467 ;
}

.navbar-default .navbar-nav.mastery-mobile-menu > li:hover > a {
  color: #777 ;
}


.navbar-default .navbar-nav.mastery-mobile-menu > li:hover > a,
.navbar-default .navbar-nav.mastery-mobile-menu > li:hover > .caret {
    color: #000 ;
}


.navbar-default .navbar-nav.mastery-mobile-menu > li.open > a,
.navbar-default .navbar-nav.mastery-mobile-menu > li.open > .caret {
  /* color: #FF9800 ; */
}

.navbar-default .navbar-nav .current-menu-ancestor a.dropdown-toggle {
  /* color: #FF9800 ; */
}


.navbar-default .navbar-nav .open .dropdown-menu > .active > a {
  color: #000 ;
}

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color:#636467 ;
	background-color: transparent;
  }


  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .dropdown-menu > li.active > .caret,
  .navbar-default .navbar-nav .dropdown-menu > li.open > a  {
    color: #636467
  }


  .navbar-default .navbar-nav > li:hover > a,
  .navbar-default .navbar-nav > li:hover > .caret,
  .dropdown-menu>li>.caret {
    color:#6B6B6B ;
  }


  .navbar-default .navbar-nav li.open > a,
  .navbar-default .navbar-nav li.open > .caret {
  color:#6B6B6B ;
  }

.social_icon fa:hover{
	color:#ffffff ;
}

.dropdown-menu > li > a {
  color: #636467  ;
}

.dropdown-menu > .active {
  /* background-color: #FF9800 ; */
  color: #000 ;
}


.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover,
.dropdown-menu>.active>.caret {
  color: #000 !important ;
}


.dropdown-menu .divider {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar-nav > li {
  color: #6B6B6B ;
}

.navbar-nav > li:hover{
  color:#00b9eb ;
}


.navigation .wp-pagenavi-pagination span.current,
.navigation .wp-pagenavi-pagination a:hover {
  color: #000 ;
}

.pagination>li>a,
.pagination>li>span,
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  /* color: #FF9800 ; */
}


.comment .comment-body {
  background-color: #ffffff ;
}

.comment-respond .required {
  color: #C7254E ;
}

#image-navigation .nav-previous a:hover,
#image-navigation .nav-next a:hover{
  color: #000 ;
}

.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  color: #000 ;
}

#footer-area {
  background-color: #313233 ;
  color: #999 ;
}


#footer-area a {
  color:#999 ;
}

#footer-area .social-icons li a {
    background-color: #bdbdbd ;
}


#footer-area .widget_nav_menu ul li a {
  border-color:#444 ;
}


#colophon {
  background-color: #1F1F1F ;
 }

.site-info a {
  color: #777 ;
}

.site-info a:hover {
  color: #999 ;
}

#footer-area a:focus,
#footer-area a:hover {
  color: #fff ;
}

.site-info {
  color: #999 ;
}


.scroll-to-top {

  background: #bcbcbc;
  color: #000000 ;
  }
.scroll-to-top:hover{
	background-color:#8d8d8d;
	color:#000;
}

.woocommerce .main-content-inner{
  background-color: #000 ;
 }

.form-control:focus {
    border-color: #bdbdbd ;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(218, 218, 218, 0.82);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(218, 218, 218, 0.73);
}
button#searchsubmit:hover {
   background-color:#c7c7c7;
}

span.page-numbers.current {
    background-color: #c7c7c7;
}

.page-links span {
	color:#000;
	background-color:#c7c7c7;
}

span.caret.mastery-dropdown:hover {
    color: #00b9eb !important;
}

.tagcloud a:hover{
	color:#fff !important;
}
